.pointer {
  cursor: pointer;
}

img {
  width: 50px;
  height: 300px;
  object-fit: cover;
}

img.icon {
  width: 30px;
  height: auto;
  cursor: pointer;
}

svg {
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease-in;
}

svg:hover {
  color: rgb(35, 139, 43);
}

img.small {
  width: 80px;
  max-height: 100px;
  object-fit: contain;
}
